{% extends "layout.html" %}

{% block title %}
    Categories
{% endblock %}

{% block main %}
    <form action="/categories" method="get">
        <select name="search" id="category">
            <option disabled selected>Categories</option>
            {% for category in cats %}
            <option value="{{category['strCategory']}}">{{category['strCategory']}}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>
    {% for meal in meals %}
        <div style="border-bottom: 5px solid black;">
            <p><h2>{{meal['strMeal']}}</h2></p>
            <div>
                <img src="{{meal['strMealThumb']}}" width="50%">
            </div>
            <br>
            <form action="/details" method="post">
                <input name="id" type="hidden" value="{{meal['idMeal']}}">
                <input name="select" type="submit" value="See Details">
            </form>
            <br>
            <form action="/add_favorite" method="post">
                <input name="id" type="hidden" value="{{meal['idMeal']}}">
                <input name="meal_name" type="hidden" value="{{meal['strMeal']}}">
                <input name="select" type="submit" value="Add to Favorites">
            </form>
            <br>
        </div>
    {% endfor %}
{% endblock %}