{% extends "layout.html" %}

{% block title %}
    Favorites
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th class = "text-start">Recipe</th>
        </tr>
    </thead>
    <tbody>
        {% for line in favorites %}
            <tr>
                <td class="text-start">{{line.meal_name}}</td>
                <td>
                    <form action="/details" method="get">
                        <input name="id" type="hidden" value="{{line.meal_id}}">
                        <input type="submit" value="See Details">
                    </form>
                </td>
                <td>
                    <form action="/remove_favorite" method="post">
                        <input name="id" type="hidden" value="{{line.meal_id}}">
                        <input type="submit" value="Remove">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}