{% extends "layout.html" %}

{% block title %}
    Ingredients
{% endblock %}

{% block main %}
<p> Click on "See Meals" to search for meals with that ingredient!</p>
    {% for ingredient in ingredients %}
        <div style="border-bottom: 5px solid black;">
            <p><h2>{{ingredient['strIngredient']}}</h2></p>
            <br>
            <p>{{ingredient['strDescription']}}</p>
            <form action="/ingredients" method="get">
                <input name="search" type="hidden" value="{{ingredient['strIngredient']}}">
                <input type="submit" value="See Meals">
            </form>
            <br>
        </div>
    {% endfor %}
{% endblock %}