{% extends "layout.html" %}

{% block title %}
    Ingredients
{% endblock %}

{% block main %}
<section class="p-3">
    <div class="container">
        <h1 class="text-center">Ingredients</h1>
    </div>
</section>
<section>
    <div class="container">
        <div class="row g-3">
            {% for ingredient in ingredients %}
                <a href="/ingredients?search={{ingredient['strIngredient']}}" class="col-md-6 col-lg-2 text-decoration-none text-black">
                    <div class="card bg-light h-100">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ingredient['strIngredient']}}</h5>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}