{% extends "layout.html" %}

{% block title %}
    
{% endblock %}

{% block main %}
<div id="instructors" class="mn5"></div>
<section class="p-5" id="instructors">
    <div class="container">
        {% block search %}{% endblock %}

        <div class="row g-3">
            {% for meal in meals %}
            <div class="col-md-6 col-lg-3">
                <div class="card bg-light h-100">
                    <div class="card-body text-center">
                        <a href="/details?id={{meal['idMeal']}}"><img src="{{meal['strMealThumb']}}" class="rounded mb-2" alt="" width="100%"></a>

                        <h3 class="card-title mb-2">{{meal['strMeal']}}</h3>

                        <form action="/details" method="get" class="mb-2">
                            <input name="id" type="hidden" value="{{meal['idMeal']}}">
                            <input class="btn btn-outline-primary" type="submit" value="See Details">
                        </form>
    
                        <form action="/add_favorite" method="post">
                            <input name="id" type="hidden" value="{{meal['idMeal']}}">
                            <input name="meal_name" type="hidden" value="{{meal['strMeal']}}">
                            <input class="btn btn-outline-danger" name="select" type="submit" value="Add to Favorites">
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %} 
        </div>
    </div>
</section>
{% endblock %}